html,body{
    background-color:black;
    height: 100%;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}

.glowny{
    height: 100%;
    display: grid;
    grid-template-rows: 7% 3% 80% 3% 7%;
}
.container2{
    height: 100%;
    display: grid;
    grid-template-rows: 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% 7.3% ;
    grid-row-gap: 1%;
    text-align: center;
}

.title{
    background-color: red;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 30px; 
    font-weight: bold;
    padding: 10px;
}

.przyciski{
    background-coloR: black;
    padding-left: 51%;
}
.c{
    background-color: red;
    width: 100%;
    font-size: large;
    font-weight: bold;
}
.inne{
    background-color: red;
    width: 100%;
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

.data{
    font-size: small;
}